/* цвет основного текста #000000 #310c63*/
/* цвет основного текста #2a2a2a #2e7a70*/
/* вторичный цвет текста rgba(0, 0, 0, 0.8) */
/* #FFFFFF #d4b09a*/
/* акцент #18A0FB */
/* вторичный цвет фона #F5F5F5 */

:root {
  --primary-text-color: #2e7a70;
  --title-text-color: #310c63;
  --accent-color: #18a0fb;
  --primary-bg-color: #ebdacf;
  --button-color: #ffffff;
}

body {
  background: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: Montserrat, sans-serif;
  letter-spacing: -0.015em;
  font-size: 18px;
  line-height: 1.67;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  outline: 2px solid rgb(21, 195, 218);
}

.page-header {
  background-color: rgb(190, 223, 190);
}

.logo {
  color: var(--title-text-color);
  font-family: Comfortaa, cursive;

  font-size: 28px;
  line-height: 1.14;
}

.logo:hover {
  color: --accent-color;
}

button {
  font-family: inherit;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 70px;
}

/* Варианты очистки крайней геометрии */
.site-nav .item {
  margin-right: 40px;
  outline: 2px solid rgb(21, 195, 218);
}
/* Вариант 1 */
.site-nav .item:last-child {
  margin-right: 0;
}
/* вариант 2 */
/* .site-nav .item:not(:last-child) {
  margin-right: 40px;
} */
/* Вариант 3 */
/* тег item у которого сверху есть тег-сосед .item */
/* .site-nav .item + .item {
  margin-left: 40px;
} */

.site-nav .link {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;

  color: var(--accent-color);

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--title-text-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 12px;
}

.hero {
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 40px;

  color: var(--title-text-color);

  font-weight: 400;
  font-size: 56px;
  line-height: 1.43;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 60px;
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
}

.left-title {
  text-align: left;
}

.section-description {
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
  font-size: 36px;
  line-height: 1.39;
}

.features .title,
.work .title {
  margin-top: 0;
  margin-bottom: 24px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin: -40px -75px;
}

.features p {
  margin-top: 0;
  margin-bottom: 32px;
}

.features .item {
  width: 625px;
  /* width: calc((100% - 150px) / 2); */
  margin: 40px 75px;
  outline: 2px solid rgb(21, 195, 218);
}

.work > .item {
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.work > .item:nth-child(2n) {
  flex-direction: row-reverse;
  background-color: rgb(206, 231, 158);
}

.work > .item:nth-child(2n + 1) .content {
  margin-left: 84px;
}

.work > .item:nth-child(2n) .content {
  margin-right: 84px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -30px -40px;
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid rgb(21, 195, 218);
}

.clients-list li {
  margin: 30px 40px;
}

.flex {
  display: flex;
}

.button {
  display: inline-block;
  border: 1px solid var(--accent-color);
  border-radius: 6px;
  padding: 11px 34px;
  min-width: 130px;

  color: var(--title-text-color);
  background-color: var(--primary-bg-color);

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
}

.button.primary {
  color: var(--button-color);
  background-color: var(--accent-color);
  border-color: transparent;
}

.button.secondary {
  color: var(--accent-color);
  background-color: var(--button-color);
  border-color: var(--accent-color);
  border: var(--accent-color);
}

.copyright {
  font-size: 15px;
  line-height: 1.6;
}

.social > .label {
  font-size: 15px;
  line-height: 1.6;
}
